body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url('Bild/SSP2.jfif');
    background-size: cover;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    
}

#auswahl, #ergebnis {
    margin-top: 20px;
    font-size: 18px;
}

#rad-container {
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

#gluecksrad {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #000;
    position: relative;
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    transform-origin: 100% 100%;
    text-align: center;
    line-height: 150px;
    font-weight: bold;
    clip-path: polygon(100% 0, 0 0, 50% 50%);
}

#segment1 {
    transform: rotate(0deg);
    background-color: #ff9999;
}

#segment2 {
    transform: rotate(120deg);
    background-color: #99ccff;
}

#segment3 {
    transform: rotate(240deg);
    background-color: #99ff99;
}

.segment span {
    display: block;
    transform: rotate(-60deg);
    transform-origin: 0 0;
}

.bild {
    height: 20px;
    width: 12px;
}

.box {
    border: solid rgb(8, 239, 255) 2px;
    border-style: outset;
    margin-left: 700px;
    margin-right: 700px;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
}