
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://futureskillsprime.in/sites/default/files/2021-04/web-development.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8; /* 80% Transparenz */
}

.grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* 80% Transparenz */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    flex: 1;
    max-width: 30%; /* Ensure the cards collectively fill up to 80% of the container */
    max-height: 95%;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card__content {
    padding: 20px;
}

.card__header {
    margin: 0;
    font-size: 1.5em;
}

.card__text-wrapper {
    margin: 20px 0;
}

.card__text {
    margin: 0;
    color: #555;
}

.card__btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.card__btn:hover {
    background-color: #45a049;
}